<template>
    <v-card>
        <v-img src="https://picsum.photos/900/350/?random" aspect-ratio="2.75"></v-img>

        <v-card-title primary-title>
            <div>
                <h3 class="headline mb-0">Event: {{ item.title }}</h3>
                <div>{{ item.text }}</div>
            </div>
        </v-card-title>

        <v-card-actions>
            <v-btn flat color="green" :to="{ name: 'Event', params: { slug: item.slug }}">View and register</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "EventCard",
        props: {
            item: Object
        }
    }
</script>

<style scoped>

</style>