<template>
    <v-form
            ref="form"
            v-model="valid"
            lazy-validation
    >
        <v-text-field
                v-model="title"
                :counter="40"
                :rules="nameRules"
                label="Title"
                required
        ></v-text-field>


        <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
        ></v-text-field>

        <v-select
                v-model="select"
                :items="items"
                :rules="[v => !!v || 'Item is required']"
                label="Item"
                required
        ></v-select>

        <v-checkbox
                v-model="checkbox"
                :rules="[v => !!v || 'You must agree to continue!']"
                label="Do you agree?"
                required
        ></v-checkbox>

        <v-btn
                :disabled="!valid"
                color="success"
                @click="validate"
        >
            Validate
        </v-btn>

        <v-btn
                color="error"
                @click="reset"
        >
            Reset Form
        </v-btn>

        <v-btn
                color="warning"
                @click="resetValidation"
        >
            Reset Validation
        </v-btn>
    </v-form>
</template>

<script>
    export default {
        name: "EventRegistrationForm",
        data() {
            return {
                title: '',
                description: ''
            }
        }
    }
</script>

<style scoped>

</style>