<template>
    <v-toolbar app>
        <v-toolbar-title class="headline text-uppercase">
            <span>Bilkalive</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn flat :to="{ name: 'Home' }">
            <span class="mr-2">Events</span>
        </v-btn>
    </v-toolbar>
</template>

<script>
    export default {
        name: "MainNav"
    }
</script>

<style scoped>

</style>