<template>
    <div id="address-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="Adresse"
            :rules="formRules.addressFieldValueRules"
        ></v-text-field>
    </div>
</template>

<script>
export default {
  name: 'AddressField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      formRules: {
        valid: true,
        addressFieldValueRules: [
          () => true
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
