<template>
    <div id="age-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="Alder"
            :rules="formRules.ageFieldValueRules"
            type="number"
        ></v-text-field>
    </div>
</template>

<script>
export default {
  name: 'AgeField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      formRules: {
        valid: true,
        ageFieldValueRules: [
          v => /^$|^[0-9]*$/.test(v) || 'Age must contain only digits'
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
