<template>
    <div id="children-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="Børn"
            :rules="formRules.childrenieldValueRules"
            type="number"
        ></v-text-field>
    </div>
</template>

<script>
export default {
  name: 'ChildrenField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      formRules: {
        valid: true,
        childrenFieldValueRules: [
          v => /^$|^[0-9]*$/.test(v) || 'Children must contain only digits'
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
