<template>
    <div id="email-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="Email"
            :rules="formRules.emailFieldValueRules"
        ></v-text-field>
    </div>
</template>

<script>
export default {
  name: 'EmailField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      formRules: {
        valid: true,
        emailFieldValueRules: [
          v => /^$|.+@.+/.test(v) || 'E-mail must be valid'
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
