<template>
    <div id="full-name-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="Navn"
            :rules="formRules.fullNameFieldValueRules"
        ></v-text-field>
    </div>
</template>

<script>
export default {
  name: 'FullNameField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      formRules: {
        valid: true,
        fullNameFieldValueRules: [
          v => !!v || 'Navn er påkrævet',
          v => /[A-Za-z]+\s\w+/.test(v) || 'Skriv dit fulde navn'
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
