<template>
    <div id="gender-field">
        <v-radio-group
            :mandatory="false"
            row
        >
            <v-radio
                v-for="n in values"
                :key="n.key"
                :label="n.value"
                :value="n.value"
                @change="selectedRadio(n.value)"
            ></v-radio>
        </v-radio-group>
    </div>
</template>

<script>
export default {
  name: 'GenderField',
  props: {
    value: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      values: [
        {
          key: 'male',
          value: 'Mand'
        },
        {
          key: 'female',
          value: 'Kvinde'
        }
      ],
      formRules: {
        valid: true,
        genderFieldValueRules: [
          // v => /^$|.+@.+/.test(v) || 'E-mail must be valid'
        ]
      }
    }
  },
  methods: {
    selectedRadio (value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style scoped>

</style>
