<template>
    <div id="number-of-participants-field">
        <v-select
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            :items="numberOfParticipants"
            :rules="formRules.numberOfParticipantsFieldValueRules"
            label="Antal deltagere"
        ></v-select>
    </div>
</template>

<script>
export default {
  name: 'NumberOfParticipantsField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      numberOfParticipants: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
      formRules: {
        valid: true,
        numberOfParticipantsFieldValueRules: [
          v => /^$|^[0-9]*$/.test(v) || 'Number of participants must contain only digits'
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
