<template>
    <div id="phone-number-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="Telefonnummer"
            :rules="formRules.phoneNumberFieldValueRules"
            :counter="8"
            maxlength="8"
        ></v-text-field>
    </div>
</template>

<script>
export default {
  name: 'PhoneField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      formRules: {
        valid: true,
        phoneNumberFieldValueRules: [
          v => /^$|^[0-9]{1,8}$/.test(v) || 'Phone number must contain only digits (max 8)'
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
