<template>
    <div id="privacy-policy-field">
        <v-switch
            v-bind:value="value"
            v-on:change="$emit('input', $event)"
            :rules="formRules.privacyPolicyValueRules"
        >
            <template v-slot:label>
                Jeg har læst eventets&nbsp;
                <a @click.stop="dialog = true">privatlivspolitik</a>
                .
            </template>
        </v-switch>

        <v-dialog
            v-model="dialog"
            width="500"
        >
            <v-card>
                <v-card-title
                        class="headline grey lighten-2"
                        primary-title
                >
                    Privacy Policy
                </v-card-title>

                <v-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        flat
                        @click="dialog = false"
                    >
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
  name: 'PrivacyPolicyField',
  props: {
    value: {
      type: [Boolean, undefined],
      required: true
    }
  },
  data () {
    return {
      dialog: false,
      formRules: {
        valid: true,
        privacyPolicyValueRules: [
          v => !!v || 'You have to apply privacy policy to proceed.'
        ]
      }
    }
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
