<template>
  <div id="registration-store-field">
    <v-select
      :items="currentEventProp.storesAndLimit"
      :item-text="el => { return el['storeName'] + ' (' + el['storeRegistrations'] + '/' + el['storeLimit'] + ')' }"
      :item-value="el => { return el['storeName'] }"
      :item-disabled="el => { return el['storeLimit'] <= el['storeRegistrations']}"
      v-on:input="$emit('input', $event)"
      label="Available stores for this event"
      :rules="formRules.registrationStoreFieldValues"
    ></v-select>
  </div>
</template>

<script>
export default {
  name: 'RegistrationStoreField',
  props: ['eventProp'],
  data () {
    return {
      currentEventProp: this.eventProp,
      formRules: {
        valid: true,
        registrationStoreFieldValues: [
          v =>
            this.eventStoresNames.includes(v) ||
            'Store must be allowed for current Event and cannot be empty',
          v =>
            this._registrationLimitIsNotExceed(v) ||
            'Stores registrations limit exceeded'
        ]
      }
    }
  },
  methods: {
    _registrationLimitIsNotExceed (v) {
      let storeItem = this.currentEventProp.storesAndLimit.find(el => {
        return el['storeName'] === v
      })

      if (storeItem) {
        return Number(storeItem['storeRegistrations']) <= Number(storeItem['storeLimit'])
      } else {
        return false
      }
    }
  },
  computed: {
    eventStoresNames () {
      let stores = this.currentEventProp.storesAndLimit

      return stores.map(el => {
        return el['storeName']
      })
    }
  }
}
</script>

<style scoped>
</style>
