<template>
  <div id="shops-and-limits" v-if="value">
    <b>Registreringsbegræsning</b>
    <v-text-field readonly min="0" type="number" label="Total limit" :value="totalLimit"></v-text-field>
    <v-btn color="success" @click.prevent="showStoresLimits">VIS BEGRÆSNINGER</v-btn>
    <div v-if="showLimitlist">
      <div v-for="store in stores" :key="store.id">
        <v-text-field
          @change="storeLimitChange(store, $event)"
          name="storeLimit"
          min="0"
          type="number"
          :label="storeLimitLabel(store.name)"
        ></v-text-field>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StoresAndLimits',
  props: {
    value: {
      required: true
    }
  },
  data () {
    return {
      showLimitlist: false
    }
  },
  computed: {
    stores () {
      return this.$store.state.stores
    },
    totalLimit () {
      return this.value.reduce(function (previous, value) {
        return previous + Number(value['storeLimit'])
      }, 0)
    }
  },
  methods: {
    storeLimitLabel (name) {
      return 'Begræsning for ' + name
    },
    showStoresLimits () {
      this.showLimitlist = !this.showLimitlist
    },
    storeLimitChange (store, event) {
      let storeExists = this.value.filter(el => {
        return el.storeName === store.name
      })
      let storeExistsIndex = this.value.indexOf(storeExists[0])

      if (storeExists.length) {
        this.value[storeExistsIndex]['storeLimit'] = event
      } else {
        this.value.push({
          storeName: store.name,
          storeLimit: event,
          storeRegistrations: 0
        })
      }

      if (event === '' || event === '0') {
        this.value.splice([storeExistsIndex], 1)
      }
    }
  }
}
</script>

<style scoped>
</style>
