<template>
    <div id="team-name-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="Team navn"
            :rules="formRules.teamNameFieldValueRules"
        ></v-text-field>
    </div>
</template>

<script>
export default {
  name: 'TeamNameField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      formRules: {
        valid: true,
        teamNameFieldValueRules: [
          // v => !!v || 'Navn is required',
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
