<template>
    <div id="youtube-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="YouTube URL"
            :rules="formRules.youTubeUrlValueRules"
        ></v-text-field>
    </div>
</template>

<script>
export default {
  name: 'YouTubeField',
  props: {
    value: {
      type: [String, undefined],
      default: ''
    }
  },
  data () {
    return {
      formRules: {
        valid: true,
        youTubeUrlValueRules: [
          v => /^$|^https:\/\/(?:www\.)?youtube.com\/embed\/[A-z0-9]+/.test(v) || 'YouTube embed URL is not valid'
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
