<template>
    <div id="zipcode-field">
        <v-text-field
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            label="Zipcode"
            :rules="formRules.zipCodeValueRules"
            :counter="4"
            maxlength="4"
        ></v-text-field>
        <div>{{zipCodeLocation}}</div>
    </div>
</template>

<script>
let zipIndexes = require('../../data/zipIndexes.json')
export default {
  name: 'ZipCodeField',
  props: {
    value: {
      type: [String, undefined],
      required: true
    }
  },
  data () {
    return {
      zipIndexes: zipIndexes,
      formRules: {
        valid: true,
        zipCodeValueRules: [
          v => Object.keys(this.zipIndexes).includes(v) || 'Skriv et dansk postnummer'
        ]
      }
    }
  },
  computed: {
    zipCodeLocation () {
      return this.zipIndexes[this.value]
    }
  }
}
</script>

<style scoped>

</style>
