<template>
    <v-container v-bind="{ [`grid-list-xl`]: true }" fluid>
        <blocker></blocker>
        <field-form :fieldItem="fieldItem"></field-form>
    </v-container>
</template>

<script>
import Blocker from '../../../components/Blocker'
import FieldForm from '../../../components/FieldForm'

export default {
  name: 'AdminFieldsEdit',
  components: { Blocker, FieldForm },
  data: () => ({
    fieldItem: {}
  }),
  methods: {
  },
  created () {
    if (this.$store.state.authEmailVerified) {
      this.$db.collection('fields').doc(this.$route.params.id).get()
        .then(querySnapshot => {
          if (querySnapshot.exists) {
            let currentField = querySnapshot.data()
            this.fieldItem = currentField
          } else {
            this.$router.push('/404')
          }
        })
    }
  }
}
</script>

<style scoped>

</style>
