<template>
    <v-container v-bind="{ [`grid-list-xl`]: true }" fluid>
        <blocker></blocker>
        <field-form v-if="!blocker"></field-form>
    </v-container>
</template>

<script>
import Blocker from '../../../components/Blocker'
import FieldForm from '../../../components/FieldForm'

export default {
  name: 'AdminFieldsNew',
  components: { Blocker, FieldForm },
  computed: {
    blocker () {
      return !(this.$store.state.authEmailVerified)
    }
  }
}
</script>

<style scoped>

</style>
