<template>
    <v-container>
        <v-layout align-center justify-center row>
            <v-flex xs12 md8>
            <h1>Om Bilka</h1>
            <h2>Bilka</h2>
            <p>
                I 1970 åbnede Bilka det første lavprisvarehus i Danmark. Det første Bilka varehus åbnede i Tilst ved Aarhus. I dag omfatter Bilka-kæden 17 lavprisvarehuse og et A-Z varehus fordelt over hele Danmark.
                Bilka bygger på en enkel filosofi: Kvalitet til lavpris, god kundeservice og dygtige medarbejdere. Og sådan har det været siden 1906, det år, hvor Ferdinand Salling lagde kimen til det, der i dag er Salling Group A/S.
                Bilka er Danmarks eneste hypermarked - med Danmarks største vareudvalg.
            </p>
            <h2>Bilka har det hele, lidt til og meget mere…</h2>
            <p>
                ...for i Bilka finder du med andre ord det hele under ét tag - og den tid du sparer ved ikke at køre fra butik til butik, kan du i stedet bruge til at se dig lidt omkring i varehuset. Dels er der mange penge at spare, og samtidig garanterer vi, at du bliver en oplevelse rigere. Ved et besøg i Bilka kan du se frem til friskbagt brød med krummer i, en kvalitetsbevidst slagter der kender sit kød, en grøntafdeling der indbyder til at overgå "6 om dagen", en tekstilafdeling der bugner af modeaktuelle varer til hele familien, et elektronikudvalg der kan få enhver mand til at måbe - og hele molevitten skyllet ned med vin i verdensklasse.
                De mindste skal også forvente en god oplevelse i Bilka - de kan møde den glade ulv Billie hver søndag mellem kl. 10-17, hvor han deler gratis ulveposer ud til alle børn under 12 år.
            </p>
            <h2>Forvent mere end det....</h2>
            <p>...for Bilka vil have tilfredse kunder og skabe en god indkøbsoplevelse for alle. Bilka tilbyder et væld af services, der spænder bredt og omhandler f.eks. ekstra lange åbningstider, max 2 i kø, 30 dages bytteret, gratis parkering, gratis lån af trailere, grogaranti på blomster og planter og gratis bleer og babymad til de små. Og dette er bare et lille udsnit af de services Bilka tilbyder - for det manglede da bare.
                Vi glæder os til dit besøg.
            </p>
            <h2>Om Salling Group</h2>
            <p>
                Med kæder som føtex, Bilka, Netto, Salling og Wupti arbejder vi i Salling Group for at gøre hverdagen bedre gennem gode indkøbsoplevelser, muligheder for job i hele landet og lettere vej til en ansvarlig livsstil. Flere end 50.000 dedikerede kolleger i Tyskland, Polen, Sverige og Danmark servicerer hver uge 11 millioner kunder.
                Fordi vi er 100 % ejet af Salling Fondene, går en del af vores overskud tilbage til samfundet. Siden 2012 har Salling Fondene doneret mere end 850 mio. kr. til uddannelse, kultur, sport, socialt arbejde og andre gode formål.
                Bilka er en del af Salling Group, der er 100 % ejet af Salling Fondene. Derfor går hele vores overskud enten til at skabe bedre indkøbsoplevelser for dig eller tilbage til samfundet i form af donationer til gode formål, bl.a. kultur, uddannelse, sport og socialt arbejde.
                Salling-navnet kommer fra vores stifter Herman Salling og var også navnet på den allerførste butik, som hans far Ferdinand åbnede i Aarhus i 1906.
                Med i Salling Group hører også Wupti, Skagenfood og Starbucks og Carl’s Jr, som vi er franchise-tager på i Danmark. Tilsammen udgør vi landets mest alsidige detailvirksomhed og er helt igennem dansk.
            </p>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
  name: 'NotFound'
}
</script>

<style scoped>

</style>
