<template>
    <v-container v-bind="{ [`grid-list-xl`]: true }" fluid>
        <v-flex mb-3>
            <h1 mt-3>Registrations for {{event.title}}</h1>
        </v-flex>

        <v-data-table
                :headers="headers"
                :items="event.registrations"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item._id }}</td>
                <td class="text-xs-right">{{ props.item.form_data }}</td>
            </template>
        </v-data-table>

    </v-container>
</template>

<script>
// import EventRegistrations from '../components/EventRegistrations'

export default {
  name: 'EventRegistrations',
  // components: {EventRegistrations},
  data () {
    return {
      event: {},
      headers: [
        {
          text: 'Registration ID'
        },
        {
          text: 'Form data'
        }
      ]
    }
  },
  created () {
    // console.log(this.$route.params.slug);
    this.$http.get(this.$root_api + '/events/' + this.$route.params.slug + '/registrations')
      .then(response => {
        // console.log(response.data)
        this.event = response.data
      })
  }

}
</script>

<style scoped>

</style>
