<template>
  <v-container fluid v-if="currentEvent">
    <v-layout row wrap>
      <v-flex xs12>
        <event-card :event="currentEvent"></event-card>
      </v-flex>

      <v-flex xs12 mt-3>
        <event-registration-form :event="currentEvent"></event-registration-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import EventCard from '../components/EventCard'
import EventRegistrationForm from '../components/EventRegistrationForm'

export default {
  name: 'Event',
  components: { EventRegistrationForm, EventCard },
  data () {
    return {
      currentEvent: null
    }
  },
  created () {
    this.currentEvent = this.$store.getters.getEventBySlug(
      this.$route.params.slug
    )
  }
}
</script>

<style scoped>
</style>
