<template>
    <v-container>
  <v-layout row class="text-xs-center">
    <v-flex class="grey lighten-4">
      <v-container class="text-xs-center forgot-password-container">
        <v-card flat>
          <v-card-title primary-title>
            <h2>GLEMT KODEORD</h2>
          </v-card-title>
          <v-form>
            <v-text-field
              browser-autocomplete="off"
              label="Email"
              name="Email"
              prepend-icon="person"
              v-model="email"
            ></v-text-field>
            <v-card-actions>
              <v-btn
                block
                class="btn--reset-password"
                :disabled="loading || disabled"
                :loading="loading"
                primary large
                v-on:click="resetPassword"
              >NULSTIL KODEORD</v-btn>
            </v-card-actions>
            <div v-if="authPasswordLinkSent">Link til password reset er blevet sendt. Kontroller din indbakke.</div>

          </v-form>
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>
  <v-snackbar
    class="toast--reset-password__error"
    color="error"
    :multi-line="true"
    :timeout="4000"
    top
    v-model="errorToast"
  >
    {{ error }}
    <v-btn
      color="#000000"
      @click="clearError()"
      flat
    >
      Tæt
    </v-btn>
  </v-snackbar>
</v-container>
</template>

<script>
export default {
  computed: {
    authPasswordLinkSent () {
      return this.$store.state.authPasswordLinkSent
    },
    disabled () {
      return !this.email.length || this.$store.state.authPasswordLinkSent
    },
    error () {
      return this.$store.state.authError
    },
    errorToast: {
      get: function () { return this.$store.state.authError.length > 0 },
      set: function () { this.$store.dispatch('clearError') }
    },
    loading () {
      return this.$store.state.authLoading
    }
  },
  data () {
    return {
      email: ''
    }
  },
  methods: {
    clearError () {
      this.$store.dispatch('clearError')
    },
    resetPassword () {
      this.$store.dispatch('resetPassword', { email: this.email })
    }
  }
}
</script>

<style scoped>
button.btn--reset-password {
  background: #009de0 !important;
  color: #ffffff !important;
}
.toast--reset-password__error {
  color: #000000;
}
.forgot-password-container {
  position: relative;
  top: 13%;
}
</style>
