<template>
  <div>
    <v-container v-if="eventsOpen.length" v-bind="{ [`grid-list-xl`]: true }" fluid>
      <h1 class="display-3 text-xs-center">Åbne tilmeldninger</h1>
      <v-layout row wrap>
        <v-flex xs12 md6 v-for="event in eventsOpen" :key="event._id">
          <event-card
            :event="event"
            :showViewAndRegisterButton="true"
            :clickableImage="true"
          ></event-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container v-if="eventsSoon.length" v-bind="{ [`grid-list-xl`]: true }" fluid>
      <h1 class="display-3 text-xs-center">Åbner snart</h1>
      <v-layout row wrap>
        <v-flex xs12 md6 v-for="event in eventsSoon" :key="event._id">
          <event-card
            :event="event"
            :showViewAndRegisterButton="true"
            :clickableImage="true"
          ></event-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container v-if="eventsEnded.length" v-bind="{ [`grid-list-xl`]: true }" fluid>
      <h1 class="display-3 text-xs-center">Afsluttede events</h1>
      <v-layout row wrap>
        <v-flex xs12 md6 v-for="event in eventsEnded" :key="event._id">
          <event-card
            :event="event"
            :showViewAndRegisterButton="true"
            :clickableImage="true"
          ></event-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import EventCard from '../components/EventCard'

export default {
  name: 'Home',
  components: { EventCard },
  computed: {
    eventsOpen () {
      return this.$store.getters.getEventsOpen
    },
    eventsSoon () {
      return this.$store.getters.getEventsSoon
    },
    eventsEnded () {
      return this.$store.getters.getEventsEnded
    }
  }
}
</script>

<style scoped>

</style>
