<template>
  <v-container>
    <v-layout row class="text-xs-center">
      <v-flex class="grey lighten-4">
        <v-container class="text-xs-center login-container">
          <v-card flat>
            <v-card-title primary-title>
              <h2>LOG IND</h2>
            </v-card-title>
            <v-form>
              <v-text-field
                browser-autocomplete="off"
                label="Email"
                name="Email"
                prepend-icon="person"
                v-model="email"
              ></v-text-field>
              <v-text-field
                :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                browser-autocomplete="off"
                @click:append="showPassword = !showPassword"
                label="Kodeord"
                name="Password"
                prepend-icon="lock"
                :type="showPassword ? 'text' : 'password'"
                v-model="password"
              ></v-text-field>
              <v-card-actions>
                <v-btn
                  block
                  class="btn--login"
                  :disabled="authLoading || disabled"
                  :loading="authLoading"
                  primary large
                  v-on:click="login"
                >LOG IND</v-btn>
              </v-card-actions>
              <div>Har du ikke en konto endnu? Opret en <router-link to="/signup">her</router-link>.</div>
              <div>Du kan resette dit kodeord <router-link to="/forgot-password">her</router-link>.</div>
            </v-form>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
    <v-snackbar
      class="toast--login__error"
      color="error"
      :multi-line="true"
      :timeout="4000"
      top
      v-model="errorToast"
    >
      {{ authError }}
      <v-btn
        color="#000000"
        @click="clearError()"
        flat
      >
        Tæt
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    disabled () {
      return !(this.email.length && this.password.length)
    },
    errorToast: {
      get: function () { return this.$store.state.authError.length > 0 },
      set: function () { this.$store.dispatch('clearError') }
    },
    ...mapState(['authError', 'authLoading', 'user'])
  },
  data () {
    return {
      email: '',
      password: '',
      showPassword: false
    }
  },
  methods: {
    clearError () {
      this.$store.dispatch('clearError')
    },
    login () {
      this.$store.dispatch('login', { email: this.email, password: this.password })
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/admin')
      }
    }
  }
}
</script>

<style scoped>
button.btn--login {
  background: #009de0 !important;
  color: #ffffff !important;
}
.toast--login__error {
  color: #000000;
}
.login-container {
  position: relative;
  top: 13%;
}
</style>
