<template>
    <v-container v-bind="{ [`grid-list-xl`]: true }" fluid>
        <h1>404</h1>
        <h2>Page not found</h2>
    </v-container>
</template>

<script>
export default {
  name: 'NotFound'
}
</script>

<style scoped>

</style>
