<template>
  <v-container>
    <v-layout row class="text-xs-center">
      <v-flex class="grey lighten-4">
        <v-container class="text-xs-center signup-container">
          <v-card flat>
            <v-card-title primary-title>
              <h2>OPRET</h2>
            </v-card-title>
            <v-form>
              <v-text-field
                browser-autocomplete="off"
                label="Email"
                name="Email"
                prepend-icon="person"
                v-model="email"
              ></v-text-field>
              <v-text-field
                :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                browser-autocomplete="off"
                @click:append="showPassword = !showPassword"
                label="Kodeord"
                name="Password"
                prepend-icon="lock"
                :type="showPassword ? 'text' : 'password'"
                v-model="password"
              ></v-text-field>
              <v-text-field
                :append-icon="showPasswordRepeat ? 'visibility' : 'visibility_off'"
                browser-autocomplete="off"
                @click:append="showPasswordRepeat = !showPasswordRepeat"
                label="Gentag kodeord"
                name="PasswordRepeat"
                prepend-icon="lock"
                :type="showPasswordRepeat ? 'text' : 'password'"
                v-model="passwordRepeat"
              ></v-text-field>
              <v-select
                class="select--store"
                :items="stores"
                label="Vælg butik"
                prepend-icon="map"
                v-model="selectedStore"
              ></v-select>
              <div>
                Log ind <router-link to="/login">her</router-link>, hvis du allerede har en konto.
              </div>
              <v-card-actions>
                <v-btn
                  block
                  class="btn--signup"
                  :disabled="loading || disabled"
                  large
                  :loading="loading"
                  primary
                  v-on:click="signup"
                >Opret</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
    <v-snackbar
      class="toast--signup__error"
      color="error"
      :multi-line="true"
      :timeout="4000"
      top
      v-model="errorToast"
    >
      {{ error }}
      <v-btn
        color="#000000"
        @click="clearError()"
        flat
      >
        Tæt
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  computed: {
    disabled () {
      return !(this.email.length &&
        this.password.length &&
        this.passwordRepeat.length &&
        this.$store.state.selectedStore)
    },
    error () {
      return this.$store.state.authError
    },
    errorToast: {
      get: function () { return this.$store.state.authError.length > 0 },
      set: function () { this.$store.dispatch('clearError') }
    },
    loading () {
      return this.$store.state.authLoading
    },
    selectedStore: {
      // getter
      get: function () {
        return this.$store.state.selectedStore
      },
      // setter
      set: function (newStore) {
        this.$store.commit('setSelectedStore', newStore)
      }
    },
    stores () {
      return this.$store.state.stores.map(store => { return { text: store.name, value: Object.assign({}, store) } })
    },
    user () {
      return this.$store.state.user
    }
  },
  async created () {
    await this.$store.dispatch('getStores')
  },
  data () {
    return {
      email: '',
      password: '',
      passwordRepeat: '',
      showPassword: false,
      showPasswordRepeat: false
    }
  },
  methods: {
    clearError () {
      this.$store.dispatch('clearError')
    },
    signup () {
      this.$store.dispatch('signup', { email: this.email, password: this.password, passwordRepeat: this.passwordRepeat, store: this.selectedStore })
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/admin')
      }
    }
  }
}
</script>

<style>
button.btn--signup {
  background: #009de0 !important;
  color: #ffffff !important;
}
.toast--signup__error {
  color: #000000;
}
.signup-container {
  position: relative;
  top: 13%;
}
@media screen and (max-width: 767px) {
  .v-menu__content {
    top: 40px !important;
    max-height: none !important;
  }
  .v-menu__content .v-list__tile.v-list__tile--link {
    height: 36px;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
</style>
