<template>
  <v-container>
    <blocker></blocker>
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-title>
          <h3 class="headline mb-0">Bekræftelse</h3>
        </v-card-title>
        <v-card-text>
          <div>Er du sikker på, at du vil slette din konto?</div>
          <div>Indtast venligst dit kodeord for at fortsætte:</div>
          <v-list>
            <v-list-tile>
              <v-text-field
                :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                browser-autocomplete="off"
                @click:append="showPassword = !showPassword"
                label="Kodeord"
                name="Password"
                prepend-icon="lock"
                :type="showPassword ? 'text' : 'password'"
                v-model="password"
              ></v-text-field>
            </v-list-tile>
          </v-list>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closeDialog">LUK</v-btn>
          <v-btn color="blue darken-1" flat @click="deleteAccount">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-container>
          <v-card flat>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Brugeroplysninger</h3>
                <br />
                <div v-if="!user">
                  Du er ikke logget ind, venligst
                  <router-link to="/login">log in her</router-link>eller
                  <router-link to="/signup">opret dig her</router-link>for at se denne side.
                </div>
                <div v-if="user && !blocker">
                  <p>Dette er dine brugeroplysninger:</p>
                  <p>
                    <strong>Email</strong>
                    : {{user.email}}
                  </p>
                  <p v-if="!user.admin">
                    <strong>Tilknyttede butik</strong>
                    : {{user.storeName}}
                  </p>
                  <p v-if="user.admin">
                    <strong>Du er administrator</strong>
                  </p>
                </div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn v-if="user && !blocker" color="error" v-on:click="openDialog">Slet konto</v-btn>
              <v-spacer></v-spacer>
              <v-btn v-if="user && !blocker" color="error" v-on:click="signout">Log ud</v-btn>
            </v-card-actions>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Blocker from '../components/Blocker'
export default {
  components: { Blocker },
  computed: {
    blocker () {
      return !(this.$store.state.authEmailVerified)
    },
    user () {
      return this.$store.state.user
    }
  },
  data () {
    return {
      dialog: false,
      password: '',
      showPassword: false
    }
  },
  methods: {
    closeDialog () {
      this.dialog = false
    },
    deleteAccount () {
      this.$store.dispatch(
        'deleteAccount',
        {
          email: this.$store.state.user.email,
          password: this.password
        }
      )
      this.dialog = false
    },
    openDialog () {
      this.dialog = true
    },
    signout () {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style>
</style>
