<template>
  <div>
    <blocker></blocker>
    <h2 class="mb-2">Open Events</h2>

    <v-card>
      <v-list v-if="getEventsOpen.length && !blocker">
        <v-list-tile v-for="(item, i) in getEventsOpen" :key="i" @click.prevent="goToRegistrations(item)">
          <v-list-tile-content>
            <v-list-tile-title>
              {{`${item.title} (registrations: ${countRegistrations(item)} / limit: ${countRegistrationsLimit(item)})`}}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card>

    <h2 class="mt-4 mb-2">Soon Events</h2>

    <v-card>
      <v-list v-if="getEventsSoon.length && !blocker">
        <v-list-tile v-for="(item, i) in getEventsSoon" :key="i" @click.prevent="goToRegistrations(item)">
          <v-list-tile-content>
            <v-list-tile-title>
              {{`${item.title} (registrations: ${countRegistrations(item)} / limit: ${countRegistrationsLimit(item)})`}}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list v-else>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>No records</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card>

    <h2 class="mt-4 mb-2">Ended Events</h2>

    <v-card>
      <v-list v-if="getEventsEnded.length && !blocker">
        <v-list-tile v-for="(item, i) in getEventsEnded" :key="i" @click.prevent="goToRegistrations(item)">
          <v-list-tile-content>
            <v-list-tile-title>
              {{`${item.title} (registrations: ${countRegistrations(item)} / limit: ${countRegistrationsLimit(item)})`}}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list v-else>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>No records</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card>

  </div>
</template>

<script>
import Blocker from '../../../components/Blocker'
import { mapGetters } from 'vuex'

export default {
  name: 'AdminRegistrationsIndex',
  data () {
    return {
      headers: [
        { text: 'Title', value: 'title' },
        { text: 'Description', value: 'description' },
        { text: 'Participants limit', value: 'participantsLimit' },
        { text: 'Start date', value: 'startDate' },
        { text: 'End date', value: 'endDate' },
        { text: 'Actions', value: '' },
        { text: 'Created At', value: 'createdAt' },
        { text: 'Updated At', value: 'updatedAt' }
      ]
    }
  },
  components: { Blocker },
  computed: {
    blocker () {
      return !(this.$store.state.authEmailVerified)
    },
    registrations () {
      return this.$store.state.registrations
    },
    fields () {
      return this.$store.state.fields
    },
    ...mapGetters(['getEventsOpen', 'getEventsSoon', 'getEventsEnded'])
  },
  methods: {
    goToRegistrations (Event) {
      this.$router.push({ name: 'AdminRegistrationsView', params: { slug: Event.slug } })
    },
    countRegistrations (Event) {
      let storesAndLimit = Event.storesAndLimit
      let res = storesAndLimit.reduce(function (sum, current) {
        return sum + current['storeRegistrations']
      }, 0)
      return res
    },
    countRegistrationsLimit (Event) {
      let storesAndLimit = Event.storesAndLimit
      let res = storesAndLimit.reduce(function (sum, current) {
        return sum + Number(current['storeLimit'])
      }, 0)
      return res
    }
  }
}
</script>

<style scoped>
</style>
