<template>
  <div>
    <blocker></blocker>
    <h2 class="mb-2">Event registrations</h2>

    <v-select
      v-if="!blocker"
      v-model="selectedStore"
      :items="storesList"
      label="Tilmeldinger for"
      @change='filterRegistrations'
    ></v-select>

    <div v-for="item in filteredRegistrations" :key="item.id">
      <v-card class="mb-3 pa-3">
        {{item.formData}}
      </v-card>
    </div>

  </div>
</template>

<script>
import Blocker from '../../../components/Blocker'
import { mapState } from 'vuex'

export default {
  name: 'AdminRegistrationsView',
  components: { Blocker },
  data () {
    return {
      selectedStore: 'All',
      filteredRegistrations: null
    }
  },
  computed: {
    ...mapState(['registrations']),
    blocker () {
      return !(this.$store.state.authEmailVerified)
    },
    storesList () {
      const distinct = (value, index, self) => {
        return self.indexOf(value) === index
      }
      let registrationsData = this.registrations.map(el => { return el.formData })
      let storesList = registrationsData.map(store => { return store.registrationStoreField })
      storesList = storesList.filter(distinct).sort()
      storesList.unshift('All')

      return storesList
    }
  },
  methods: {
    filterRegistrations (e) {
      this.selectedStore = e
      let res = this.registrations.filter(el => {
        if (el.formData.registrationStoreField === this.selectedStore || this.selectedStore === 'All') {
          return el
        }
      })
      this.filteredRegistrations = res
    }
  },
  created () {
    if (this.$store.state.authEmailVerified) {
      this.filteredRegistrations = this.registrations
    }
  }
}
</script>

<style scoped>
</style>
