<template>
  <div>
    <v-dialog v-model="dataIsSaved" width="500" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>{{textTitle}}</v-card-title>
        <v-card-text>{{textContent}}</v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="primary" flat @click="createAnother">{{textCreateMore}}</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="viewCreated">{{textViewCreated}}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'AfterCreateDialog',
  props: {
    textTitle: {
      type: String,
      default: 'Your options'
    },
    textContent: {
      type: String,
      default: 'What you gonna do next?'
    },
    textCreateMore: {
      type: String,
      default: 'Create more'
    },
    textViewCreated: {
      type: String,
      default: 'View created'
    },
    dataIsSaved: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {}
  },
  computed: {},
  methods: {
    createAnother () {
      this.$emit('create-more')
    },
    viewCreated () {
      this.$emit('view-created')
    }
  }
}
</script>

<style scoped>
</style>
