<template>
  <v-dialog v-model="dialog" persistent width="500px" height="150px">
    <v-card>
      <v-card-title>
        <span class="headline">Advarsel</span>
      </v-card-title>
      <v-card-text>
        <p>Bekræft venligst din email adresse.</p>
        <p>
          <a @click="resendVerificationEmail">Gensend bekræftelses mail</a>.
        </p>
        <p>
          <router-link :to="{ name: 'Home' }">Vend tilbage til startsiden</router-link>
        </p>
        <p>
          Hvis du har bekræftet din e-mail,
          så <router-link :to="'/admin'">klik her</router-link> for at gå til Admin side.
        </p>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  computed: {
    dialog () {
      return !this.$store.state.authEmailVerified
    }
  },
  methods: {
    resendVerificationEmail () {
      this.$store.dispatch('resendVerificationEmail')
    }
  }
}
</script>

<style>
</style>
