<template>
  <v-form ref="form" v-model="formRules.valid" lazy-validation>
    <v-text-field
      v-model="eventItem.title"
      :counter="40"
      :rules="formRules.titleRules"
      label="Titel"
      required
    ></v-text-field>

    <v-text-field v-model="eventItem.subtitle" :rules="formRules.subtitleRules" label="Undertitel"></v-text-field>

    <stores-and-limits-field v-model="eventItem.storesAndLimit"></stores-and-limits-field>

    <v-img :src="eventItem.imageSrc" contain></v-img>

    <v-btn color="success" @click="$refs.inputUpload.click()">Upload image</v-btn>

    <input v-show="false" ref="inputUpload" type="file" @change="uploadImage" />

    <v-textarea
      v-model="eventItem.description"
      :rules="formRules.descriptionRules"
      label="Beskrivelse"
      required
    ></v-textarea>

    <you-tube-field v-model="eventItem.youTubeUrl" label="YouTube Url"></you-tube-field>

    <v-flex xs12 sm6 md4>
      <v-menu
        ref="menuStartDate"
        v-model="menuStartDate"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="eventItem.startDate"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="eventItem.startDate"
            :rules="formRules.dateTimeRules"
            label="Tilmeldingen åbner d."
            prepend-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>

        <v-date-picker
          v-model="eventItem.startDate"
          @input="$refs.menuStartDate.save(eventItem.startDate)"
          no-title
          scrollable
          first-day-of-week="1"
          locale="DA"
        ></v-date-picker>
      </v-menu>
    </v-flex>

    <v-flex xs11 sm5>
      <v-menu
        ref="menuStartTime"
        v-model="menuStartTime"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="eventItem.startTime"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="eventItem.startTime"
            :rules="[true]"
            label="Klokken"
            prepend-icon="access_time"
            readonly
            v-on="on"
          ></v-text-field>
        </template>

        <v-time-picker
          format="24hr"
          v-if="menuStartTime"
          v-model="eventItem.startTime"
          full-width
          @click:minute="$refs.menuStartTime.save(eventItem.startTime)"
        ></v-time-picker>
      </v-menu>
    </v-flex>

    <v-flex xs12 sm6 md4>
      <v-menu
        ref="menuEndDate"
        v-model="menuEndDate"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="eventItem.endDate"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="eventItem.endDate"
            :rules="formRules.dateTimeRules"
            label="Tilmeldingen lukker d."
            prepend-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>

        <v-date-picker
          v-model="eventItem.endDate"
          @input="$refs.menuEndDate.save(eventItem.endDate)"
          no-title
          scrollable
          first-day-of-week="1"
          locale="DA"
        ></v-date-picker>
      </v-menu>
    </v-flex>

    <v-flex xs11 sm5>
      <v-menu
        ref="menuEndTime"
        v-model="menuEndTime"
        :rules="true"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="eventItem.endTime"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="eventItem.endTime"
            label="Klokken"
            prepend-icon="access_time"
            readonly
            v-on="on"
          ></v-text-field>
        </template>

        <v-time-picker
          format="24hr"
          v-if="menuEndTime"
          v-model="eventItem.endTime"
          full-width
          @click:minute="$refs.menuEndTime.save(eventItem.endTime)"
        ></v-time-picker>
      </v-menu>
    </v-flex>

    <v-text-field v-model="eventItem.slug" :rules="formRules.slugRules" label="URL" required></v-text-field>

    <v-text-field
      v-model="eventItem.participantsLimit"
      :rules="formRules.participantsLimitRules"
      label="Tilmeldingsbegrænsning"
    ></v-text-field>

    <template v-for="field in allRegistrationFields">
      <v-checkbox
        v-model="eventItem.fields"
        :label="field.description"
        :value="field.name"
        v-bind:key="field.name"
      ></v-checkbox>
    </template>

    <after-create-dialog
      textContent="Event oprettet - kan ses på www.bilkalive.dk/slug"
      textCreateMore="Opret flere"
      textViewCreated="Se event"
      @create-more="createAnotherEvent"
      @view-created="viewCreatedEvent"
      :dataIsSaved="dataIsSaved"
    ></after-create-dialog>

    <v-btn :disabled="!formRules.valid" color="success" @click="submitForm" :loading="loading">Gem</v-btn>

    <template v-if="eventItem.id">
      <v-btn color="error" @click.prevent="deleteEvent(eventItem.slug)">Slet Event</v-btn>
    </template>
  </v-form>
</template>

<script>
import StoresAndLimitsField from './fields/StoresAndLimitsField'
import YouTubeField from './fields/YouTubeField'
import AfterCreateDialog from './AfterCreateDialog'

export default {
  name: 'EventForm',
  components: { YouTubeField, StoresAndLimitsField, AfterCreateDialog },
  props: {
    eventItem: {
      type: Object,
      default () {
        return {
          title: '',
          subtitle: '',
          description: '',
          youTubeUrl: '',
          startDate: '', // new Date().toISOString().slice(0,10),
          startTime: '',
          endDate: '', // new Date().toISOString().slice(0,10),
          endTime: '',
          participantsLimit: 0,
          slug: '',
          fields: [],
          imageSrc: '',
          storesAndLimit: []
        }
      }
    }
  },
  data () {
    return {
      menuStartDate: false,
      menuStartTime: false,
      menuEndDate: false,
      menuEndTime: false,
      dataIsSaved: false,
      formRules: {
        valid: true,
        titleRules: [
          v => !!v || 'Titel is required',
          v => (v && v.length <= 40) || 'Titel must be less than 40 characters'
        ],
        subtitleRules: [() => true],
        descriptionRules: [v => !!v || 'Beskrivelse is required'],
        slugRules: [
          v => !!v || 'URL is required',
          v =>
            /^[a-z0-9]+(?:-[a-z0-9]+)*$/.test(v) ||
            'URL må kun indeholde bogstaver, tal og "-" symbolet'
        ],
        participantsLimitRules: [
          v =>
            /^$|^[0-9]*$/.test(v) ||
            'Tilmeldingsbegrænsning limit must contain only digits'
        ],
        dateTimeRules: [
          v => !!v || 'Date is required',
          () => this.correctDates || 'Dates are incorrect'
        ]
      },
      loading: false
    }
  },
  computed: {
    allRegistrationFields () {
      return this.$store.state.fields
    },
    correctDates () {
      let startD = this.eventItem.startDate
      let endD = this.eventItem.endDate
      let startT = this.eventItem.startTime
      let endT = this.eventItem.endTime

      // let startTf = startT ? startT.split(':')[1] * 60 + startT[0] * 3600 : 0
      // let endTf = endT ? endT.split(':')[1] * 60 + endT[0] * 3600 : 0

      // let startDf = startD ? Date.parse(startD) : 0
      // let endDf = endD ? Date.parse(endD) : 0
      if (startD && endD) {
        return startD + startT <= endD + endT
      } else {
        return true
      }
    },
    eventTitle () {
      return this.eventItem.title
    }
  },
  methods: {
    createAnotherEvent () {
      this.$refs.form.reset()
      this.dataIsSaved = false
    },
    viewCreatedEvent () {
      this.$router.push({ name: 'Event', params: { slug: this.eventItem.slug } })
    },
    submitForm () {
      if (this.$refs.form.validate()) {
        this.loading = true
        let formData = this.eventItem

        if (this.eventItem.id) {
          this.$db
            .collection('events')
            .doc(this.eventItem.id)
            .set(this.eventItem)
            .then(() => {
              this.loading = false
              // TODO: simplify notification creation and fire
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'success',
                message: 'Event updated!'
              }
              this.$store.dispatch('sendNotification', notify)
            })
            .catch(err => {
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'error',
                message: 'Event Not updated!'
              }
              this.$store.dispatch('sendNotification', notify)
              throw new Error(err)
            })
        } else {
          this.$db
            .collection('events')
            .add(formData)
            .then(() => {
              this.loading = false
              // TODO: simplify notification creation and fire
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'success',
                message: 'Event oprettet!'
              }
              this.$store.dispatch('sendNotification', notify)
              // this.$router.push("/admin/events")
              this.dataIsSaved = true
            })
            .catch(err => {
              // TODO: simplify notification creation and fire
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'error',
                message: 'Event Not added!'
              }
              this.$store.dispatch('sendNotification', notify)
              throw new Error(err)
            })
        }
      }
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    },
    slugify (string) {
      const a = 'àáäâãåăæçèéëêǵḧìíïîḿńǹñòóöôœṕŕßśșțùúüûǘẃẍÿź·/_,:;'
      const b = 'aaaaaaaaceeeeghiiiimnnnoooooprssstuuuuuwxyz------'
      const p = new RegExp(a.split('').join('|'), 'g')

      return string
        .toString()
        .toLowerCase()
        .replace(/\s+/g, '-') // Replace spaces with -
        .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
        .replace(/&/g, '-and-') // Replace & with 'and'
        .replace(/[^\w-]+/g, '') // Remove all non-word characters
        .replace(/--+/g, '-') // Replace multiple - with single -
        .replace(/^-+/, '') // Trim - from start of text
        .replace(/-+$/, '') // Trim - from end of text
    },
    deleteEvent: function () {
      this.$db
        .collection('events')
        .doc(this.eventItem.id)
        .delete()
        .then(() => {
          this.$router.push('/admin/events')
          // TODO: simplify notification creation and fire
          let notify = {
            snackbar: true,
            timeout: 4000,
            status: 'error',
            message: 'Event deleted!'
          }
          this.$store.dispatch('sendNotification', notify)
        })
        .catch(err => {
          // TODO: simplify notification creation and fire
          let notify = {
            snackbar: true,
            timeout: 4000,
            status: 'error',
            message: 'Event Not deleted!'
          }
          this.$store.dispatch('sendNotification', notify)
          throw new Error(err)
        })
    },
    uploadImage: function () {
      this._deleteImage()
      // Get file
      let file = this.$refs.inputUpload.files[0]

      // Create storage ref
      var eventImageRef = this.$storage
        .ref()
        .child(`events/${this.eventItem.id}`)

      // Upload file
      let task = eventImageRef.put(file)
      var self = this

      // Update progess bar
      task.on(
        'state_changed',
        function progress (snapshot) {
          // var percent = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
          // console.info(percent + '% done')
        },
        function error (err) {
          throw new Error(err)
        },
        function completed () {
          alert('Image uploaded!')
          eventImageRef.getDownloadURL().then(url => {
            self.eventItem.imageSrc = url
          })
        }
      )
    },
    _deleteImage () {
      // Create Ref
      let eventImageRef = this.$storage
        .ref()
        .child(`events/${this.eventItem.id}`)

      eventImageRef
        .delete()
        .then(function () {
          let notify = {
            snackbar: true,
            timeout: 4000,
            status: 'success',
            message: 'Old image deleted!'
          }
          this.$store.dispatch('sendNotification', notify)
        })
        .catch(function (err) {
          throw new Error(err)
        })
    }
  },
  watch: {
    eventTitle (val) {
      if (val) {
        this.eventItem.slug = this.slugify(val)
      }
    }
  }
}
</script>

<style scoped>
</style>
