<template>
    <v-card :data-id="event.id">
        <template v-if="clickableImage && isOpenEvent()">
            <router-link :to="{ name: 'Event', params: { slug: event.slug }}" v-if="event.slug">
                <v-img :src="event.imageSrc" :alt="event.alt" aspect-ratio="2.75"></v-img>
            </router-link>
        </template>

        <template v-else>
            <v-img :src="event.imageSrc" :alt="event.title" aspect-ratio="2.75"></v-img>
        </template>

        <v-card-title primary-title>
            <v-layout row wrap>
                <v-flex grow>
                    <h3 class="headline mb-0">{{event.title}}</h3>
                    <h4 v-if="event.subtitle">{{event.subtitle}}</h4>
                    <p v-if="event.registrations">
                        Total registrations: {{event.registrations.length}}
                        <template v-if="event.registrations_limit">
                            from {{event.registrations_limit}}
                        </template>
                    </p>
                </v-flex>
                <v-flex shrink>
                    <div v-if="timeUntil">
                        <h2>Åbner snart: {{timeUntil}}</h2>
                    </div>
                </v-flex>
                <v-flex xs12>
                    <div>{{event.description}}</div>
                    <h4>Bemærk: eventet foregår ikke i: {{eventStoresExcluded.join(', ')}}</h4>
                    <div v-if="event.youTubeUrl && (showViewAndRegisterButton === false)">
                        <h2>Event video</h2>
                        <iframe
                            width="560"
                            height="315"
                            :src="event.youTubeUrl"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                    </div>
                </v-flex>
            </v-layout>
        </v-card-title>

        <v-card-actions v-if="showViewAndRegisterButton && isOpenEvent()">
            <v-btn color="success" :to="{ name: 'Event', params: { slug: event.slug }}" v-if="event.slug">Se og registrer</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
  name: 'EventCard',
  props: {
    event: {
      type: Object,
      required: true
    },
    showViewAndRegisterButton: {
      type: Boolean,
      default: false
    },
    clickableImage: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    eventStoresExcluded () {
      let allStoresNames = this.$store.state.stores.map(el => { return el.name })
      let eventStoresNames = this.event.storesAndLimit.map(el => { return el.storeName })

      return allStoresNames.filter(el => { return !eventStoresNames.includes(el) })
    },
    timeUntil () {
      let startDate = this.event.startDate ? this.event.startDate : ''
      let startTime = this.event.startTime ? this.event.startTime : ''
      // let endDate = this.event.endDate ? this.event.endDate : ''
      // let endTime = this.event.endTime ? this.event.endTime : ''
      let startDateTime = startDate + ' ' + startTime
      // let endDatetime = endDate + ' ' + endTime
      let delta = (Date.parse(startDateTime) - Date.now().toFixed() - this.timer * 1000) / 1000

      if (Date.parse(startDateTime) - Date.now().toFixed() - this.timer * 1000 > 0) {
        // Days
        let days = Math.floor(delta / 86400)
        delta -= days * 86400
        // Hours
        let hours = Math.floor(delta / 3600) % 24
        delta -= hours * 3600
        // Minutes
        let minutes = Math.floor(delta / 60) % 60
        delta -= minutes * 60
        // Seconds
        // let seconds = delta % 60
        let timeUntilText = days >= 1 ? `${days} dag(e)` : `${hours} time(r) ${minutes} minut(ter)`
        return timeUntilText
      } else {
        return null
      }
    }
  },
  data () {
    return {
      timer: 0
    }
  },
  methods: {
    isOpenEvent () {
      return this.$store.getters.getEventsOpen.map(ev => { return ev.id }).includes(this.event.id)
    }
  },
  created () {
    setInterval(() => {
      this.timer++
    }, 1000)
  }
}
</script>

<style scoped>

</style>
