<template>
  <v-form ref="registrationForm" v-model="formRules.valid" lazy-validation>

    <registration-store-field
      v-if="event"
      v-bind:eventProp="event"
      v-model="form.registrationStoreField"
    ></registration-store-field>

    <full-name-field v-if="event.fields.includes('fullNameField')" v-model="form.fullNameField"></full-name-field>

    <address-field v-if="event.fields.includes('addressField')" v-model="form.addressField"></address-field>

    <zip-code-field v-if="event.fields.includes('zipCodeField')" v-model="form.zipCodeField"></zip-code-field>

    <phone-number-field
      v-if="event.fields.includes('phoneNumberField')"
      v-model="form.phoneNumberField"
    ></phone-number-field>

    <email-field v-if="event.fields.includes('emailField')" v-model="form.emailField"></email-field>

    <number-of-participants-field
      v-if="event.fields.includes('umberOfParticipantsField')"
      v-model="form.numberOfParticipantsField"
    ></number-of-participants-field>

    <car-license-plate-field
      v-if="event.fields.includes('carLicensePlateField')"
      v-model="form.carLicensePlateField"
    ></car-license-plate-field>

    <gender-field v-if="event.fields.includes('genderField')" v-model="form.genderField"></gender-field>

    <team-name-field v-if="event.fields.includes('teamNameField')" v-model="form.teamNameField"></team-name-field>

    <age-field v-if="event.fields.includes('ageField')" v-model="form.ageField"></age-field>

    <children-field v-if="event.fields.includes('childrenField')" v-model="form.childrenField"></children-field>

    <privacy-policy-field
      v-if="event.fields.includes('privacyPolicyField')"
      v-model="form.privacyPolicyField"
    ></privacy-policy-field>

    <!-- /Form -->
    <v-btn
      :disabled="!formRules.valid"
      color="success"
      @click="submitForm"
      :loading="loading"
    >Tilmeld</v-btn>

  </v-form>
</template>

<script>
import RegistrationStoreField from './fields/RegistrationStoreField'
import FullNameField from './fields/FullNameField'
import AddressField from './fields/AddressField'
import ZipCodeField from './fields/ZipCodeField'
import PhoneNumberField from './fields/PhoneNumberField'
import EmailField from './fields/EmailField'
import NumberOfParticipantsField from './fields/NumberOfParticipantsField'
import CarLicensePlateField from './fields/CarLicensePlateField'
import GenderField from './fields/GenderField'
import TeamNameField from './fields/TeamNameField'
import AgeField from './fields/AgeField'
import ChildrenField from './fields/ChildrenField'
import PrivacyPolicyField from './fields/PrivacyPolicyField'

export default {
  name: 'EventRegistrationForm',
  props: {
    event: {
      type: Object,
      required: true
    }
  },
  components: {
    RegistrationStoreField,
    FullNameField,
    AddressField,
    PhoneNumberField,
    EmailField,
    NumberOfParticipantsField,
    CarLicensePlateField,
    GenderField,
    TeamNameField,
    AgeField,
    ChildrenField,
    ZipCodeField,
    PrivacyPolicyField
  },
  data () {
    return {
      form: {
        // TODO: remove later
        registrationStoreField: '',
        fullNameField: '',
        addressField: '',
        phoneNumberField: '',
        emailField: '',
        numberOfParticipantsField: '0',
        carLicensePlateField: '',
        storeField: '',
        imageField: '',
        privacyPolicyField: false,
        genderField: '',
        teamNameField: '',
        ageField: '',
        childrenField: '',
        youTubeField: '',
        zipCodeField: ''
      },
      formRules: {
        valid: false
      },
      loading: false
    }
  },
  methods: {
    submitForm () {
      let currentForm = this.$refs.registrationForm

      if (currentForm.validate()) {
        this.loading = true
        let eventRef = this.$db.collection('events').doc(this.event.id)
        let formData = { formData: this.form, eventData: this.event }
        formData['eventRef'] = eventRef

        eventRef.get().then(eventData => {
          let registrationsCount = eventData.data().registrationsCount
          let batch = this.$db.batch()
          let registrationRef = this.$db.collection('registrations').doc()

          if (!registrationsCount) {
            registrationsCount = 0
          }

          let eventObj = eventData.data()

          eventObj.storesAndLimit.forEach(element => {
            if (this.form.registrationStoreField === element.storeName) {
              element['storeRegistrations'] = element['storeRegistrations'] + 1
            }
          })

          batch.set(registrationRef, formData)
          batch.update(eventRef, eventObj)

          batch
            .commit()
            .then(() => {
              this.loading = false
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'success',
                message: 'Registration added!'
              }
              this.$store.dispatch('sendNotification', notify)
            })
            .catch(err => {
              this.loading = false
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'danger',
                message: 'Registration Not added!'
              }
              this.$store.dispatch('sendNotification', notify)
              throw new Error(err)
            })
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
