<template>
  <v-form ref="form" v-model="formRules.valid" lazy-validation>
    <v-text-field
      v-model="fieldItem.name"
      :counter="40"
      :rules="formRules.nameRules"
      label="Name"
      required
    ></v-text-field>

    <v-textarea
      v-model="fieldItem.description"
      :rules="formRules.descriptionRules"
      label="Description"
      required
    ></v-textarea>

    <v-btn :disabled="!formRules.valid" color="success" @click="submitForm">Submit</v-btn>

    <v-btn color="error" @click="reset">Reset Form</v-btn>

    <template v-if="fieldItem">
      <v-btn color="error" @click.prevent="deleteField()">Slet Field</v-btn>
    </template>
  </v-form>
</template>

<script>
export default {
  name: 'FieldForm',
  props: {
    fieldItem: {
      type: Object,
      default () {
        return {
          name: '',
          description: ''
        }
      }
    }
  },
  data: () => ({
    formRules: {
      valid: true,
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 40) || 'Name must be less than 40 characters'
      ],
      descriptionRules: [v => !!v || 'Description is required']
    }
  }),
  methods: {
    submitForm () {
      if (this.$refs.form.validate()) {
        this.loading = true
        let formData = this.fieldItem

        if (this.$route.params.id) {
          this.$db
            .collection('fields')
            .doc(this.$route.params.id)
            .set(this.fieldItem)
            .then(() => {
              this.loading = false
              // TODO: simplify notification creation and fire
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'success',
                message: 'Field updated!'
              }
              this.$store.dispatch('sendNotification', notify)
            })
            .catch(err => {
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'error',
                message: 'Field Not updated!'
              }
              this.$store.dispatch('sendNotification', notify)
              throw new Error(err)
            })
        } else {
          this.$db
            .collection('fields')
            .add(formData)
            .then(() => {
              this.loading = false
              // TODO: simplify notification creation and fire
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'success',
                message: 'Field added!'
              }
              this.$store.dispatch('sendNotification', notify)
              this.$router.push('/admin/fields')
            })
            .catch(err => {
              // TODO: simplify notification creation and fire
              let notify = {
                snackbar: true,
                timeout: 4000,
                status: 'error',
                message: 'Field Not added!'
              }
              this.$store.dispatch('sendNotification', notify)
              throw new Error(err)
            })
        }
      }
    },
    deleteField: function () {
      this.$db
        .collection('fields')
        .doc(this.$route.params.id)
        .delete()
        .then(() => {
          this.$router.push('/admin/fields')
          // TODO: simplify notification creation and fire
          let notify = {
            snackbar: true,
            timeout: 4000,
            status: 'error',
            message: 'Field deleted!'
          }
          this.$store.dispatch('sendNotification', notify)
        })
        .catch(err => {
          // TODO: simplify notification creation and fire
          let notify = {
            snackbar: true,
            timeout: 4000,
            status: 'error',
            message: 'Field Not deleted!'
          }
          this.$store.dispatch('sendNotification', notify)
          throw new Error(err)
        })
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    }
  }
}
</script>

<style scoped>
</style>
