<template>
  <div>
    <v-toolbar flat class="bilka-live-header" dense>
      <router-link tag="h1" :to="{ name: 'Home' }" :style="{ cursor: 'pointer'}">
        <span class="t-white">Bilka</span>
        <span class="t-black">Live</span>
      </router-link>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat
          icon
          exact
          color="white"
          :to="{ name: 'AdminEventsNew' }"
          v-if="currentUserIsAdmin"
        >
          <v-icon dark>event_note</v-icon>
        </v-btn>
        <v-btn flat icon exact color="white" :to="{ name: 'User Profile' }" v-if="currentUser">
          <v-icon dark>person</v-icon>
        </v-btn>
        <v-btn flat icon exact color="white" :to="{ name: 'Home' }">
          <v-icon dark>home</v-icon>
        </v-btn>
        <v-btn flat icon exact color="white" @click="signout" v-if="currentUser">
          <v-icon dark>exit_to_app</v-icon>
        </v-btn>
      </v-toolbar-items>

      <v-toolbar-side-icon class="hidden-md-and-up">
        <v-btn flat icon exact :to="{ name: 'Home' }">
          <v-icon dark color="white">home</v-icon>
        </v-btn>
        <v-btn flat icon exact @click.stop="drawer = !drawer">
          <v-icon dark color="white">menu</v-icon>
        </v-btn>
      </v-toolbar-side-icon>
    </v-toolbar>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list dense>
          <v-list-tile avatar :to="{ name: 'Home' }">
              <v-list-tile-avatar>
                    <v-icon>home</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                  Home
              </v-list-tile-content>
          </v-list-tile>

          <v-list-tile avatar :to="{ name: 'AdminEventsNew' }" v-if="currentUserIsAdmin">
              <v-list-tile-avatar>
                    <v-icon>event_note</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                  Add Event
              </v-list-tile-content>
          </v-list-tile>

          <v-list-tile avatar :to="{ name: 'User Profile' }" v-if="currentUser">
              <v-list-tile-avatar>
                    <v-icon>person</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                  Profile
              </v-list-tile-content>
          </v-list-tile>

          <v-list-tile avatar @click="signout" v-if="currentUser">
              <v-list-tile-avatar>
                    <v-icon>exit_to_app</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                  Logout
              </v-list-tile-content>
          </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'MainHeader',
  data () {
    return {
      drawer: false
    }
  },
  methods: {}
}
</script>

<style scoped>
.bilka-live-header {
  background: #009de0 !important;
  padding: 16px 24px;
  line-height: 1;
}
.bilka-live-header h1 {
  font-size: 28px;
}
.bilka-live-header a {
  text-decoration: none;
}
.t-white {
  color: #ffffff;
}
.t-black {
  color: #000000;
}
</style>
