<template>
    <v-toolbar flat class="main-nav" color="#00aeef" dense>
        <router-link tag="span" :to="{ name: 'Home' }" :style="{ cursor: 'pointer'}">
            <v-icon dark>home</v-icon>
        </router-link>
    </v-toolbar>
</template>

<script>
export default {
  name: 'MainNav',
  methods: {}
}
</script>

<style scoped>
.main-nav a {
    color: #ffffff;
    font-weight: bold;
}
</style>
