<template>
  <div class="bilka-live-footer">
    <v-container fluid grid-list-md>
      <v-footer height="auto" color="transparent">
        <v-layout row wrap class="footer--desktop">
          <v-flex xs12 sm6 md3 v-for="item in items" v-bind:key="item.title">
            <v-card>
              <h3>{{item.title}}</h3>
              <ul class="footer--list">
                <li v-for="item in item.items" v-bind:key="item.title" class="footer--list--item">
                  <a
                    v-if="item.link && item.target"
                    v-bind:href="item.link"
                    v-bind:target="item.target"
                  >{{item.title}}</a>
                  <a v-if="item.link && !item.target" v-bind:href="item.link">{{item.title}}</a>
                  <router-link v-if="item['router-link']" :to="item['router-link']">{{item.title}}</router-link>
                  <span v-if="!item.link && !item['router-link']">{{item.text}}</span>
                </li>
              </ul>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout row wrap class="footer--mobile">
          <v-flex xs12>
            <v-card>
              <v-list>
                <v-list-group
                  v-for="item in items"
                  v-model="item.active"
                  :key="item.title"
                  no-action
                >
                  <v-list-tile slot="activator">
                    <v-list-tile-content>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>

                  <v-list-tile
                    class="footer--mobile--list--item"
                    v-for="subItem in item.items"
                    :key="subItem.title"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <a
                          class="footer--mobile--link"
                          v-if="subItem.link && subItem.target"
                          v-bind:href="subItem.link"
                          v-bind:target="subItem.target"
                        >{{subItem.title}}</a>
                        <a
                          class="footer--mobile--link"
                          v-if="subItem.link && !subItem.target"
                          v-bind:href="subItem.link"
                        >{{subItem.title}}</a>
                        <router-link
                          class="footer--mobile--link"
                          v-if="subItem['router-link']"
                          :to="subItem['router-link']"
                        >{{subItem.title}}</router-link>
                        <span
                          class="footer--mobile--link"
                          v-if="!subItem.link && !subItem['router-link']"
                        >{{subItem.text}}</span>
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list-group>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-footer>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'MainFooter',
  data () {
    return {
      items: [
        {
          title: 'Information',
          items: [
            {
              title: 'Følg Bilka på Youtube',
              link: 'https://www.youtube.com/user/Bilkadk',
              target: '_blank'
            },
            {
              title: 'Følg Bilka på Facebook',
              link: 'https://www.facebook.com/bilkadk',
              target: '_blank'
            },
            {
              title: 'Cookies',
              'router-link': { name: 'Cookies' },
              target: '_blank'
            },
            {
              title: 'Privatlivspolitk',
              link: 'https://sallinggroup.com/privatlivspolitik',
              target: '_blank'
            },
            { title: 'Om Bilka', 'router-link': { name: 'About' } }
          ]
        },
        {
          title: 'Kundeservice',
          items: [
            { title: 'Ring til os', link: 'tel:+4589303000' },
            {
              title: 'Kontakt kundeservice',
              link: 'https://www.bilka.dk/kundeservice',
              target: '_blank'
            },
            {
              title: 'Find din Bilka',
              link: 'https://www.bilka.dk/kundeservice/find-din-bilka',
              target: '_blank'
            }
          ]
        },

        {
          title: 'Shopping inspiration',
          items: [
            {
              title: 'Se ugens prisfald',
              link:
                'https://www.bilka.dk/bilka-aktuelt/gaa-ikke-glip-af/tilbudsavis/c/tilbudsavis#prisfald',
              target: '_blank'
            },
            {
              title: 'Set på TV',
              link: 'https://www.bilka.dk/brands/set-paa-tv/pl/set-paa-tv',
              target: '_blank'
            },
            {
              title: 'Mærker på Bilka.dk',
              link: 'https://www.bilka.dk/c/brands',
              target: '_blank'
            }
          ]
        },
        {
          title: 'Bilka Hypermarked åbningstider',
          items: [
            { title: 'monday', text: '06:00 - 00:00' },
            { title: 'tuesday', text: '06:00 - 00:00' },
            { title: 'wednesday', text: '06:00 - 00:00' },
            { title: 'thursday', text: '06:00 - 00:00' },
            { title: 'friday', text: '06:00 - 00:00' },
            { title: 'saturday', text: '06:00 - 00:00' },
            { title: 'sunday', text: '06:00 - 00:00' }
          ]
        }
      ]
    }
  }
}
</script>

<style scoped>
.theme--light.v-card {
  background: transparent;
}
.v-card {
  box-shadow: none;
  background-color: transparent;
}
.footer--list {
  padding: 0;
}
.footer--list--item {
  list-style-type: none;
}
.footer--list--item > a {
  text-decoration: none;
  color: inherit;
}
.footer--mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .bilka-live-footer {
    padding: 16px 24px;
  }
  .footer--mobile {
    display: flex;
  }
  .footer--mobile .v-list__tile__title {
    font-weight: bold;
  }
  .footer--mobile--link {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
  }
  .footer--desktop {
    display: none;
  }
  >>> .footer--mobile--list--item > .v-list__tile {
    padding-left: 16px !important;
  }
}
</style>
