<template>
  <v-snackbar
    v-if="notification"
    :color="notification.status"
    :multi-line="true"
    :timeout="notification.timeout"
    top
    v-model="notification.snackbar"
  >
    {{notification.message}}
    <v-btn @click="clearNotification()" flat>LUK</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  name: 'Notification',
  computed: {
    notification () {
      return this.$store.state.notification
    }
  },
  methods: {
    clearNotification () {
      this.$store.dispatch('clearNotification')
    }
  }
}
</script>

<style scoped>

</style>
