<template>
    <v-container v-bind="{ [`grid-list-xl`]: true }" fluid>
        <blocker></blocker>
        <event-form v-if="!blocker"></event-form>
    </v-container>
</template>

<script>
import Blocker from '../../../components/Blocker'
import EventForm from '../../../components/EventForm'

export default {
  name: 'AdminEventsNew',
  components: { Blocker, EventForm },
  computed: {
    blocker () {
      return !(this.$store.state.authEmailVerified)
    }
  }
}
</script>

<style scoped>

</style>
