<template>
    <v-container v-bind="{ [`grid-list-xl`]: true }" fluid>
        <blocker></blocker>
        <event-form :eventItem="eventItem"></event-form>
    </v-container>
</template>

<script>
import Blocker from '../../../components/Blocker'
import EventForm from '../../../components/EventForm'

export default {
  name: 'AdminEventsEdit',
  components: { Blocker, EventForm },
  props: ['slug'],
  data: () => ({
    eventItem: {}
  }),
  methods: {
  },
  created () {
    if (this.$store.state.authEmailVerified) {
      this.$db.collection('events').where('slug', '==', this.slug).limit(1).get()
        .then(querySnapshot => {
          if (!querySnapshot.empty) {
            let currentEvent = querySnapshot.docs[0].data()
            currentEvent['id'] = querySnapshot.docs[0].id
            this.eventItem = currentEvent
          } else {
            this.$router.push('/404')
          }
        })
    }
  }
}
</script>

<style scoped>

</style>
