<template>
    <div>
        <blocker></blocker>
        <template v-if="events && !blocker">
            <v-data-table
                :headers="headers"
                :items="events"
                :rows-per-page-items="[{ 'value': -1 }]"
                :hide-actions="true"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td class="">{{ props.item.title }}</td>
                    <td class="text-xs-center">{{ props.item.fields }}</td>
                    <td class="text-xs-center">{{ props.item.participantsLimit }}</td>
                    <td class=""><a :href="eventUrl(props.item)" target="_blank">{{eventUrl(props.item)}}</a></td>
                    <td class="justify-center layout px-0">
                        <router-link
                            :to="{ name: 'AdminEventsEdit', params: {slug: props.item.slug}}"
                            v-if="currentUser && currentUserIsAdmin"
                        >Redigér</router-link>
                    </td>
                </template>
            </v-data-table>
            <template slot="no-data">
                <v-alert :value="true" color="error" icon="warning">
                    Sorry, nothing to display here :(
                </v-alert>
            </template>
        </template>
    </div>
</template>

<script>
import Blocker from '../../../components/Blocker'

export default {
  name: 'AdminEventsIndex',
  components: { Blocker },
  computed: {
    blocker () {
      return !(this.$store.state.authEmailVerified)
    },
    events () {
      return this.$store.state.events
    },
    user () {
      return this.$store.state.user
    }
  },
  methods: {
    eventUrl (Event) {
      return location.protocol + '//' + window.location.host + '/' + Event.slug
    }
  },
  data () {
    return {
      pagination: {},
      headers: [
        { text: 'Titel', value: 'title' },
        { text: 'Fields', value: 'fields' },
        { text: 'Tilmeldingsbegrænsning', value: 'participantsLimit' },
        { text: 'URL', value: 'slug' },
        { text: 'Handlinger', value: '' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
