<template>
  <div>
    <blocker></blocker>
    <template v-if="users && authEmailVerified">
      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">Redigér</span>
          </v-card-title>

          <v-card-text>
            <v-list>
              <v-list-tile>
                <v-text-field
                  :disabled="true"
                  label="Id"
                  v-model="editedItem.id"
                ></v-text-field>
              </v-list-tile>
              <v-list-tile>
                <v-text-field
                  :disabled="true"
                  label="Email"
                  v-model="editedItem.email"
                ></v-text-field>
              </v-list-tile>
              <v-list-tile>
                <v-select
                  :items="stores"
                  label="Vælg butik"
                  v-model="editedStore"
                ></v-select>
              </v-list-tile>
            </v-list>
          </v-card-text>

          <v-card-actions>
            <v-btn
              @click="makeAdmin"
              :disabled="user.email === editedItem.email"
              flat
              v-bind:class="{
                'btn--admin--enable': !editedItem.admin,
                'btn--admin--disable': editedItem.admin
              }">
              ADMIN
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">LUK</v-btn>
            <v-btn color="blue darken-1" flat @click="save">GEM</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-data-table
        :headers="headers"
        :items="users"
        :rows-per-page-items="[25,50,100]"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.email }}</td>
          <td>{{ props.item.storeName }}</td>
          <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
          </td>
        </template>
      </v-data-table>
      <template slot="no-data">
        <v-alert :value="true" color="error" icon="warning">Sorry, nothing to display here :(</v-alert>
      </template>
    </template>
  </div>
</template>

<script>
import Blocker from '../../../components/Blocker'
import { mapState } from 'vuex'

export default {
  components: { Blocker },
  computed: {
    ...mapState(['authEmailVerified', 'user', 'users']),
    stores () {
      return this.$store.state.stores.map(store => { return { text: store.name, value: Object.assign({}, store) } })
    }
  },
  async created () {
    await this.$store.dispatch('getStores')
  },
  data () {
    return {
      dialog: false,
      editedItem: {
        id: '',
        email: '',
        admin: false
      },
      editedStore: {
        id: '',
        name: ''
      },
      pagination: {},
      headers: [
        { text: 'Id', value: 'id' },
        { text: 'Email', value: 'email' },
        { text: 'Tilknyttet butik', value: 'storeName' },
        { text: 'Handlinger', value: '' }
      ]
    }
  },
  methods: {
    close () {
      this.dialog = false
    },
    deleteItem (item) {
      let payload = { userId: item.id }
      confirm('Are you sure you want to delete this user?') && this.$store.dispatch('deleteUser', payload)
    },
    editItem (item) {
      this.editedStore = { text: item.storeName, value: { id: item.storeId, name: item.storeName } }
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    makeAdmin () {
      let payload = { userId: this.editedItem.id, admin: !this.editedItem.admin }
      this.$store.dispatch('editUserAdmin', payload)
      this.editedItem.admin = !this.editedItem.admin
    },
    save () {
      let payload = { userId: this.editedItem.id, selectedStore: this.editedStore }
      this.$store.dispatch('editUser', payload)
      this.close()
    }
  }
}
</script>

<style>
.btn--admin--enable {
  background: red;
  color: black;
}

.btn--admin--disable {
  background: green;
  color: white !important;
}
</style>
