<template>
  <v-app>
    <main-nav></main-nav>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import MainNav from "./components/MainNav"
export default {
  name: 'App',
  components: {MainNav},
  data () {
    return {
      //
    }
  }
}
</script>
