<template>
  <v-app>
    <template v-if="loaded">

      <main-header></main-header>
      <v-content>
        <router-view></router-view>
      </v-content>
      <main-footer></main-footer>

    </template>
    <template v-else>

      <v-layout align-center justify-center fill-height>
        <v-flex xs12 sm8 md4 text-xs-center>
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          ></v-progress-circular>
        </v-flex>
      </v-layout>

    </template>
    <notification></notification>
  </v-app>
</template>

<script>
import firebase from 'firebase/app'
import MainHeader from './components/MainHeader'
import MainFooter from './components/MainFooter'
import Notification from './components/Notification'

export default {
  name: 'App',
  components: { MainHeader, MainFooter, Notification },
  data () {
    return {
      loaded: false
    }
  },
  created () {
    let initData = [
      this.$store.dispatch('getEvents'),
      this.$store.dispatch('getRegistrations'),
      this.$store.dispatch('getFields'),
      this.$store.dispatch('getStores')
    ]

    Promise.all(initData).then(() => {
      this.loaded = true
    })

    firebase.firestore().collection('events').onSnapshot(res => {
      const changes = res.docChanges()

      if (changes.length) {
        this.$store.dispatch('getEvents')
      }
    })

    firebase.firestore().collection('fields').onSnapshot(res => {
      const changes = res.docChanges()

      if (changes.length) {
        this.$store.dispatch('getFields')
      }
    })

    firebase.firestore().collection('registrations').onSnapshot(res => {
      const changes = res.docChanges()

      if (changes.length) {
        this.$store.dispatch('getRegistrations')
      }
    })
  }
}
</script>
