<template>
    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs12>
                <event-card :item="item"></event-card>
            </v-flex>
            <v-flex xs12 mt-3>
                <h1 class="text-xs-center">Register for the event</h1>
                <event-registration-form></event-registration-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import EventCard from '../components/EventCard'
    import EventRegistrationForm from '../components/EventRegistrationForm'

    export default {
        name: 'Event',
        components: { EventRegistrationForm, EventCard },
        data() {
            return {
                item: null
            }
        },
        mounted() {
            this.$http.get('http://localhost:8000/events/' + this.$route.params.slug).then(response => { console.log(response.data); this.item = response.data; });
        }
    }
</script>

<style scoped>

</style>