<template>
    <v-container v-bind="{ [`grid-list-xl`]: true }" fluid>
        <v-layout row wrap>
            <v-flex sm6 xs12 v-for="event in events" :key="event._id">
                <event-card :item="event"></event-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import EventCard from '../components/EventCard'

    export default {
        name: 'Home',
        components: { EventCard },
        data() {
            return {
                events: null
            }
        },
        mounted() {
            this.$http.get('http://localhost:8000/events').then(response => (this.events = response.data));
        }
    }
</script>

<style scoped>

</style>