<template>
  <v-container v-bind="{ [`grid-list-xl`]: true }" fluid>
    <blocker></blocker>
    <h1>Administrationspanel</h1>
    <v-layout row>
      <v-flex shrink pa-1>
        <v-navigation-drawer>
          <v-list>
            <v-list-tile :to="{ path: '/admin/events' }">
              <v-list-tile-action>
                <v-btn fab small :to="{ name: 'AdminEventsNew'}">
                  <v-icon flat>add</v-icon>
                </v-btn>
              </v-list-tile-action>
              <v-list-tile-content>Events ({{ blocker ? '???' : stats.events}})</v-list-tile-content>
            </v-list-tile>
            <v-list-tile :to="{ path: '/admin/fields' }">
              <v-list-tile-action>
                <v-btn fab small :to="{ name: 'AdminFieldsNew'}">
                  <v-icon flat>add</v-icon>
                </v-btn>
              </v-list-tile-action>
              <v-list-tile-content>Felter ({{ blocker ? '???' : stats.fields}})</v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              :to="{ path: '/admin/registrations' }"
            >Tilmeldinger ({{ blocker ? '???' : stats.registrations}})</v-list-tile>
            <v-list-tile
              :to="{ path: '/admin/users' }"
              v-if="user && user.admin"
            >Brugere ({{ blocker ? '???' : stats.users}})</v-list-tile>
          </v-list>
        </v-navigation-drawer>
      </v-flex>

      <v-flex>
        <router-view></router-view>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Blocker from '../../components/Blocker'
export default {
  name: 'Dashboard',
  components: {
    Blocker
  },
  computed: {
    blocker () {
      return !(this.$store.state.authEmailVerified)
    },
    stats () {
      let stats = {
        events: this.$store.state.events.length,
        fields: this.$store.state.fields.length,
        registrations: this.$store.state.registrations.length,
        users: this.$store.state.users.length
      }
      return stats
    },
    user () {
      return this.$store.state.user
    }
  }
}
</script>

<style scoped>
</style>
